// --------------------------------------
// 색상정의
// --------------------------------------

$primary: #4EB3F3;
$success: forestgreen;
$danger: red;
$info: pink;
$warning: tomato;

$dark: #333;
$shadow: #7979797a;
$light: #fafafa;