ul {
    display: flex;
    gap: 20px;
}

.MyPageSection {
    padding: 40px 0;

    .inner {

        .Favorites,
        .Watchlist,
        .History {
            ul {
                padding: 10px 0;
                margin-bottom: 40px;

                li {
                    p {
                        font-size: 1.6rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowarp;
                        width: 90%;
                        height: 40px;
                        margin: 10px;
                    }
                }
            }
        }
    }
}